[submodule "projects/01-fin-api"]
	path = projects/01-fin-api
	url = git@github.com:luizwhite/ignite-simple-fin-api.git
[submodule "challenges/ch01-concepts"]
	path = challenges/ch01-concepts
	url = git@github.com:luizwhite/ignite-nodejs-concepts-ch01.git
[submodule "challenges/ch02-middlewares"]
	path = challenges/ch02-middlewares
	url = git@github.com:luizwhite/ignite-nodejs-middlewares-ch02.git
[submodule "challenges/ch03-codefixing-crud"]
	path = challenges/ch03-codefixing-crud
	url = git@github.com:luizwhite/ignite-nodejs-codefixing-ch03.git
