[submodule "projects/01-fin-api"]
	path = projects/01-fin-api
	url = git@github.com:luizwhite/ignite-simple-fin-api.git
[submodule "challenges/ch01-concepts"]
	path = challenges/ch01-concepts
	url = git@github.com:luizwhite/ignite-nodejs-concepts-ch01.git
[submodule "challenges/ch02-middlewares"]
	path = challenges/ch02-middlewares
	url = git@github.com:luizwhite/ignite-nodejs-middlewares-ch02.git
[submodule "challenges/ch03-codefixing-crud"]
	path = challenges/ch03-codefixing-crud
	url = git@github.com:luizwhite/ignite-nodejs-codefixing-ch03.git
[submodule "challenges/ch04-solid-principles"]
	path = challenges/ch04-solid-principles
	url = git@github.com:luizwhite/ignite-nodejs-solid-principles-ch04.git
[submodule "projects/02-rentx"]
	path = projects/02-rentx
	url = git@github.com:luizwhite/ignite-rentx.git
[submodule "challenges/ch05-swagger-docs"]
	path = challenges/ch05-swagger-docs
	url = git@github.com:luizwhite/ignite-nodejs-swagger-ch05.git
[submodule "challenges/ch06-db-queries"]
	path = challenges/ch06-db-queries
	url = git@github.com:luizwhite/ignite-nodejs-db-queries-ch06.git
[submodule "challenges/ch07-08-unit-n-integration-testing"]
	path = challenges/ch07-08-unit-n-integration-testing
	url = git@github.com:luizwhite/ignite-nodejs-testings-ch07-08.git
